.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 469px;
}

.center {
    margin: 0;
    position: absolute;
    top: 40%;
}

.habit {
    position: relative;
    background: #D9D9D9;
    border-radius: 26px;
}

.navBar {
    position: absolute;
    width: 100%;
    height: 77px;
    background-color: #BECCFF;
    top: 0%
}